
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.navbar {
    max-width: 110px;
    margin-right: 0;
    margin-left: 0;
    position: fixed;
    right: 0;
    height: 100vh;
    z-index: 99;
    background-color: #1a1a1a;
    border: none;
}
.navbar-nav,
.navbar-nav > li,
.navbar-left,
.navbar-right,
.navbar-header
{float:none !important;}

.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


@media (min-width: 1400px){
.chap-sec.ch-text.ch-text-lg {
    max-height: 600px;
}
}

@media (max-width: 991px){
.chap-sec.ch-text.ch-text-lg {
    max-height: 400px;
}
.scroll-bt a {
    font-size: 12px;
	bottom: 40px;
}
.v-inner {
    max-width: 650px;
}	
.chap-sec.ch-text p {
    font-size: 18px;
	max-width: 450px;
}
.v-text p {
    font-size: 18px;
}
.bg-img .v-text {
    max-width: 500px;
}
}

@media (max-width: 767px){
.navbar-nav {
    margin: 0;
/*	max-height: 360px;*/
    overflow-y: auto;
}
.navbar.min {
    right: -200px;
}
.chap-sec.ch-text.ch-text-lg {
    left: 50%;
    transform: translate(-50%,-50%);
}
.mb-bg{
	background-image:url(../img/preview_ch2.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
a.btn.btn-default.mute-btn {
    position: fixed;
    left: 0;
    top: 0;
	margin-left: 0;
}

.navbar-header {
    padding-top: 0px;
}
.navbar-default .navbar-brand {
    padding: 6px 0px;
    height: 30px;
}
.navbar {
    max-width: 200px;
}
.navbar-nav .open .dropdown-menu {
    /*max-height: 200px;*/
    overflow-y: auto;
}
a.sh-btn {
    bottom: 0px;
	height: 30px;
    padding-top: 5px;
}
ul.sc-ul.list-inline {
    max-width: 100%;
	bottom:0;
}
a.sh-btn.sh-btn-open {
    bottom: 36px;
}
.chap-sec {
    transform: translate(-50%,-50%);
    left: 50%;
	width: 100%;
    padding: 15px;
	top: 50%;
}
.chap-sec.ch-text p {
    max-width: 100%;
	letter-spacing:0px;
}
.v-text h2 {
    font-size: 16px;
    letter-spacing: 0px;
}
.v-text {
    width: 95%;
}
.nav-inner {
    top: 0;
    transform: none;
}
.plyr--video .plyr__controls {
    top: 75%;
}

}
@media (max-width: 535px){
.chap-sec h1 {
    font-size: 30px;
}
.chap-sec p {
    font-size: 18px;
}
.chap-sec.ch-text.ch-text-lg p {
    margin-bottom: 10px;
    letter-spacing: 0px;
}
.chap-sec.ch-text.credits p {
    font-size: 12px;
}
.chap-sec.ch-text.credits p span {
    width: 113px;
}
.chap-sec.ch-text.ch-text-lg {
    width: 100%;
}
.dropdown-menu {
    left: -200px;
    width: 200px;
}

}

@media (max-height: 560px){
.navbar-nav>li>a {
    padding-top: 0px;
    padding-bottom: 15px;
}
}























