@font-face{ 
	font-family: 'SZSans', sans-serif;
	src: url('../fonts/SZSans.woff') format('woff'),
	     url('../fonts/SZSans.ttf') format('truetype');
 	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family: 'SZSans', sans-serif;
	src: url('../fonts/SZSans-Bold.woff') format('woff'),
	     url('../fonts/SZSans-Bold.ttf') format('truetype');
 	font-weight:normal;
	font-style:normal;
}
body {
	font-family:"Times New Roman", Times, serif;
	overflow:hidden;
	background-color:#000;
}

.sz-b{
	font-family: 'SZSans', sans-serif;
	font-weight:bold;
}
.sz-r{
	font-family: 'SZSans', sans-serif;
}

a,button,.navbar{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
a{
	text-decoration:none;
}
a:focus {
    outline: none;
    outline-offset: 0;
}
.lato{
	font-family: 'Lato', sans-serif;
}
/*=== Custome Styles ===*/

video.myvideo {
    width: 100%;
    object-fit: cover;
	height:100vh;
}
.navbar-default .navbar-brand {
    color:#d8d9d9;
    padding: 8px 0px;
    height: 35px;
    display: block;
    text-align: center;
    width: 100%;
    font-size: 13px;
    border-bottom: 1px solid #646968;
}
.navbar-default .navbar-nav>li>a {
    font-size: 14px;
	padding-top: 10px;
    padding-bottom: 10px;
	line-height: 1.3;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
	color: #d8d9d9;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #1a1a1a;
}
.dropdown-menu {
    position: absolute;
    top: 0%;
    left: -230px;
	width:230px;
}
li.chap-intro a{
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    color: rgba(255,255,255,0.7);
	white-space: normal;
}
li.chap-intro a span{
    text-transform: capitalize;
    color: rgba(255,255,255,1);
	font-size: 16px;
}
.dropdown-menu {
    background-color: #1a1a1a;
    border-left: 4px solid #3d4342;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.1);
}
li.ch-img a {
    padding: 0;
}
li.ch-img a img{
	width:100%;
}
.dropdown-menu>li>a {
    padding: 8px;
    color: #fff;
}
.scroll-bt a {
    position: fixed;
    bottom: 20px;
    left: 5%;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.5);
    font-size: 20px;
    opacity: 0.7;
    padding-top: 5px;
}
.scroll-bt a:hover{
	opacity:1;
	text-decoration:none;
}
.scroll-bt {
    z-index: 11;
    position: fixed;
}
.chap-sec h1 {
    color: #fff;
    font-size: 85px;
    margin-top: 0;
    margin-bottom: 10px;
}
.chap-sec p {
    color: #fff;
    font-size: 34px;
}	
.chap-sec {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7%;
}
.chap-sec.ch-text p {
    font-size: 18px;
    max-width: 549px;
    line-height: 1.6em;
}
.myvideo1 {
    width: 100%;
    vertical-align: middle;
}
.v-inner {
    width: 100%;
    max-width: 1200px;
    margin: auto;
	position:relative;
}
.v-text {
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%);
	width: 442px;
}
.v-text h2{
	margin-top:0px;
	margin-bottom:10px;
	font-size:20px;
	letter-spacing:1px;
}
.v-text p {
    font-size: 16px;
    margin-bottom: 0;
    word-spacing: 1px;
}
.chap-sec.ch-text.ch-text-lg {
    max-height: 400px;
    overflow-y: auto;
}
.chap-sec.ch-text.ch-text-lg p,.extra-bt p {
    padding-bottom: 2em;
}
.bg-img{
	background-image:url(../img/03_dorf9.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}
.bg-img .v-text {
    transform: translate(-50%,0%);
    bottom: 15%;
    top: inherit;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    padding: 15px 20px;
}
.bg-img-1{
	background-image: url(../img/pest_mm-48.jpg);
}
.info-img-1{
	background-image: url(../img/pest_mm-59.jpg);
}
.info-img-2{
	background-image: url(../img/pest_mm-64.jpg);
}
.info-img-3{
	background-image: url(../img/pest_mm-82.jpg);
}
.info-img-4{
	background-image: url(../img/pest_mm-83.jpg);
}
.info-img-5{
	background-image: url(../img/04_anantanarivo_2.jpg);
}
.info-img-6{
	background-image: url(../img/04_anantanarivo_3.jpg);
}
.info-img-7{
	background-image: url(../img/04_anantanarivo_5.jpg);
}
.info-img-8{
	background-image: url(../img/04_anantanarivo_6.jpg);
}
.info-img-9{
	background-image: url(../img/04_anantanarivo_8.jpg);
}
.info-img-10{
	background-image: url(../img/pestwelt1.jpg);
}
.info-img-11{
	background-image: url(../img/pestwelt2.jpg);
}
.info-img-12{
	background-image: url(../img/pestwelt3.jpg);
}
.info-img-13{
	background-image: url(../img/pestwelt4.jpg);
}
ul.dropdown-menu.drp-last {
    top: -200px;
}
.bg-img-2{
	background-image: url(../img/04_anantanarivo_1.jpg);
}
.bg-img-3{
	background-image: url(../img/pest_mm-88.jpg);
}
.bg-img-4{
	background-image: url(../img/pest_mm-101.jpg);
}
.bg-img-5{
	background-image: url(../img/pest_mm-100.jpg);
}
.bg-img-6{
	background-image: url(../img/pest_mm-96.jpg);
}
.bg-img-10{
	background-image: url(../img/03_dorf5.jpg);
}
.bg-img-11{
	background-image: url(../img/03_dorf4.jpg);
}
.bg-img-12{
	background-image: url(../img/03_dorf3.jpg);
}
.chap-sec.ch-text.credits p {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 0;
    font-family: Guardian-Text-Egyp-Web-Light-Latin;
    max-width: 600px;
    line-height: 1.4;

}

.chap-sec.ch-text.credits p span {
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}
.chap-sec.ch-text.credits {
    margin-top: 20px;
    max-height: 600px;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: rgba(255,255,255,0.1);
}
.share-sec a {
    color: rgba(255,255,255,0.5);
    font-size: 16px;
    text-decoration:none;
}
.share-sec a:hover {
    color: rgba(255,255,255,1);
}
.sc-ul li a{
    display:block;
    width:24px;
    height:24px;
}
ul.sc-ul li {
    margin: 0;
    padding: 0;
}
ul.sc-ul.list-inline {
    max-width: 100px;
    margin: auto;
    margin-bottom: 0;
    margin-top: 10px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 5px;
}
.sc-ul li a.fb{
        background: url(../img/social-icons.png) 0 0;
}
.sc-ul li a.fb:hover{
        background: url(../img/social-icons_hover.png) 0 0;
}
.sc-ul li a.tw{
        background: url(../img/social-icons.png) -25px 0;
}
.sc-ul li a.tw:hover{
        background: url(../img/social-icons_hover.png) -25px 0;
}
.sc-ul li a.gp{
        background: url(../img/social-icons.png) -50px 0;
}
.sc-ul li a.gp:hover{
        background: url(../img/social-icons_hover.png) -50px 0;
}
.sc-ul li a.pin{
        background: url(../img/social-icons.png) -75px 0;
}
.sc-ul li a.pin:hover{
        background: url(../img/social-icons_hover.png) -75px 0;
}
.sc-ul li a.lin{
        background: url(../img/social-icons.png) -100px 0;
}
.sc-ul li a.lin:hover{
        background: url(../img/social-icons_hover.png) -100px 0;
}
.sc-ul li a.ins{
        background: url(../img/social-icons.png) -125px 0;
}
.sc-ul li a.ins:hover{
        background: url(../img/social-icons_hover.png) -125px 0;
}

a.nav-btn {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 16px;
    padding: 3px 8px;
    color: #fff;
    background-color: #000;
    position: absolute;
    left: -30px;
	line-height: 1.6;
	top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../img/loader.gif) center no-repeat #eee;
}
a.sh-btn {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
	background: #1a1a1a;
	z-index:1;
	    height: 60px;
    padding-top: 25px;
}
a.sh-btn.sh-btn-open {
    bottom: 70px;
}
a.btn.btn-default.mute-btn {
    background-color: #232323;
    color: #fff;
    font-size: 22px;
    border: none;
    border-radius: 2px;
    padding: 3px 9px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -22.5px;
    top: 10%;
    width: 40px;
    height: 37px;
    line-height: 1.42;
}
a.btn.btn-default.mute-btn:hover {
    background-color: #404040;
}
.navbar-header {
    padding-top: 50px;
}
.nav-inner {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.chap-sec.ch-text.credits p.credit-st{
	margin-bottom:30px;
	font-size:22px;
}
hr {
    border-top: 1px solid grey;
}
.plyr--video .plyr__controls {
    left: 50%;
    top: 60%;
    right: inherit;
    height: 40px;
    background: #000;
    transform: translate(-50%,-50%);
    padding: 10px;
    max-width: 442px;
    width: 100%;
}
.plyr__controls button,.plyr .plyr__volume{
	display:none;
}
.plyr--captions-enabled [data-plyr=captions], .plyr--fullscreen-enabled [data-plyr=fullscreen] {
    display: none;
}


iframe {
     position: absolute;
     z-index: 1;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
}
#container {
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
}

















